@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding: 2rem;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
section {
  padding: 3rem 0 2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}
header.shadow {
  background-color: white;
  box-shadow:0 1px 4px hsl(0 4% 14% / 10%) ;
  transition: 2s;
}

header.shadow .four {
color: black;
}

.four {
  font-size: 2rem;
}
.logo {
  font-weight: 700;
  font-size: 2rem;
  margin-left: 1rem;
}
.four {
  font-size: 3rem;
  color: white;
}
.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}
.login {
  padding: 8px 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  background-color: red;
}
.login:hover {
  color: cyan;
}

.home {
  width: 100%;
  min-height: 440px;
  background-color: gray;
  display: grid;
  justify-content: center;
  align-items: center;
}

.home-text {
  color: yellow;
  text-align: center;
}
.home-title {
  font-size: 3.5rem;
}
.home-subtitle {
  font-size: 1rem;
  font-weight: 400;
}
.post-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem !important;
}

.filter-item {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  justify-content: center;
}

.active-filter {
  background-color: gray;
  border-radius: 4px;
  padding: 4px 10px;
}

/* Post */
.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.5rem;
}

.post-box {
  background: white;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 15px;
  border-radius: 0.5rem;
  margin-top: 6rem;
}

.post-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  transform: translate(0, -4rem);
}

.category {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: red;
}

.post-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: brown;
  /* remain in two lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-date {
  display: flex;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 4px;
}

.post-description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
  /* remain in three lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

  border: 2px solid green;
}

/* 
.blog-post {
  border: 1px solid black;
  width: 100%;
  max-width: 98rem;
  display: inline-block;
  padding: 5rem;
  background-color: white;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  align-items: center;
  margin: 5rem;
  display: flex;
}

.blog-post__img {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translate(-8rem);
  position: relative;
}

.blog-post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.blog-post__img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom right,
    rgba(79, 172, 254, 0.8),
    rgba(8, 242, 254, 0.2)
  );
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
}

.blog-post__date span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.blog-post__title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}

.blog-post__text {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}

.blog-post__cta {
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  background-image: linear-gradient(to bottom right, #4facfe 0%, #00f2fe 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}

.blog-post__cta:hover {
  background-image: linear-gradient(to bottom right, #00f2fe 0%, #4facfe 100%);
}

@media screen and (max-width: 1068px) {
  .blog-post {
    max-width: 80rem;
  }
  .blog-post__img {
    min-width: 30rem;
    max-width: 30rem;
  }
}

@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 70rem;
  }
}

@media screen and (max-width: 768px) {
  .blog-post {
    padding: 2.5rem;
    flex-direction: column;
  }
  .blog-post__img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8rem);
  }
} */
